---
import fetchSpotlight from "../functions/fetchSpotlight";
import Layout from "../layouts/Layout.astro";
import Spotlight from "../templates/Spotlight.astro";
import {
  fetchTrending,
  fetchRecentlyUpdated,
  fetchMostFavorite,
  fetchMostPopular,
  fetchLatestCompleted,
} from "../functions/homeComponentFetchers";
import HomeSectionComponent from "../templates/HomeSectionComponent.astro";

const [spotlights, trending, recentlyUpdated, favourite, popular, completed] =
  await Promise.all([
    fetchSpotlight(),
    fetchTrending(),
    fetchRecentlyUpdated(),
    fetchMostFavorite(),
    fetchMostPopular(),
    fetchLatestCompleted(),
  ]);
---

<Layout title="Welcome to Astro.">
  <main>
    <Spotlight spotlights={spotlights} />
    <HomeSectionComponent
      data={trending}
      heading="Trending"
      moreLink="/trending"
    />
    <HomeSectionComponent
      data={recentlyUpdated}
      heading="Recently Updated"
      moreLink="/recent"
    />
    <HomeSectionComponent
      data={popular}
      heading="Most Popular"
      moreLink="/popular"
    />
    <HomeSectionComponent
      data={favourite}
      heading="Most Favourite"
      moreLink="/favourite"
    />
    <HomeSectionComponent
      data={completed}
      heading="Recently Completed"
      moreLink="/completed"
    />
  </main>
</Layout>

<style></style>
