---
import type { HomeComponentInterface } from "../functions/homeComponentFetchers";

interface Props {
  data: HomeComponentInterface;
}

const { data } = Astro.props;
---

<li>
  <a href={`/anime?n=${data.id}`}>
    <div class="banner">
      <img
        src={data.image}
        alt=""
        width="100%"
        height="100%"
        loading="lazy"
        transition:name={`banner-${data.id}`}
      />
    </div>
    <h1>{data.title}</h1>
    <div class="details">
      <div class="episodes">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="captions"
        >
          <rect width="18" height="14" x="3" y="5" rx="2" ry="2"></rect>
          <path d="M7 15h4M15 15h2M7 11h2M13 11h4"></path>
        </svg>
        <p>{data.episodes}</p>
      </div>
      <div class="type">
        <p>{data.type}</p>
      </div>
    </div>
  </a>
</li>

<style>
  li {
    background-color: var(--card-background);

    --font-title: 1rem;
    --font-size: 1rem;
  }

  a {
    text-decoration: none;
    color: currentColor;
  }

  .banner {
    width: 100%;
    aspect-ratio: 5/7;
  }

  h1 {
    font-size: var(--font-title);
    font-weight: 600;

    height: 3.25rem;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: center;

    padding: 0 var(--padding);
  }
  .episodes {
    display: flex;
    gap: 0.5rem;

    align-items: center;
  }
  .details {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--padding);
    padding-bottom: var(--padding);
    height: 2rem;
    font-size: var(--font-size);
    align-items: center;
  }

  .captions {
    height: 1.75rem;
    aspect-ratio: 1/1;
  }
</style>
